    <div class="header">
        <a href="/users/sign_up" class="register-btn">Зарегистрироваться</a>
    </div>
    <div class="content">
        <h1 class="title">Выбери курс по душе!</h1>
        <p class="description">Это лучшее описание для самых лучших курсов, <br> которые ты можешь выбрать для себя!</p>
        <img src="<%= asset_path('image1.png') %>" alt="Image 1" class="image1">
       <br>  <img src="<%= asset_path('image2.png') %>" alt="Image 2" class="image2"></br>
        <div class="separator"></div>
        <p class="login-text">Войти через:</p>
		<br>
        <img src="<%= asset_path('image3.png') %>" alt="Login Image 1" class="login-image">
		<br>
        <img src="<%= asset_path('image4.png') %>" alt="Login Image 2" class="login-image">
    </div>